body, html {
  font-family: "Helvetica Neue LT Std", "Helvetica LT Std", sans-serif;
  font-weight: bold;
  height: 100%;
  margin: 0;
  padding: 0;
}

.white-card, .black-card {
  display: flex;
  justify-content: stretch;
  flex-flow: column;
  padding: .10in .14in;
  box-sizing: border-box;
}

.white-card {
  background: #fff;
  color: #000;
}

.black-card {
  background: #000;
  color: #fff;
}

.card-content {
  flex: 1;
  font-size: 16.666pt;
  line-height: 135.25%;
  white-space: pre-wrap;
}
.card-footer {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}
.cards-brand {
  flex: 1;
  font-size: 5.6pt;
  padding: .08in 0 .125in .33in;
  background-image: url('counterfeitlogo.svg');
  background-repeat: no-repeat;
  background-size: auto .225in;
}
.card-twist {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-bottom: .08in;
}
.card-rule {
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 12pt;
  margin-top: .06in;
}
.card-count {
  font-size: 15pt;
  height: .25in;
  width: .25in;
  border-radius: 50%;
  background: #fff;
  color: #000;
  margin: 0 3pt;
  text-align: center;
  line-height: 115%;
}
sup {
  vertical-align: top;
  position: relative;
  top: -.5em;
  font-size: .5em;
}

@media screen {
  body {
    background: #888;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }
  .white-card, .black-card {
    height: 3.2in;
    width: 2.4in;
    margin: 24px;
  }
}

@media print {
  .white-card, .black-card {
    height: 100%;
    break-after: page;
  }
  .black-card .card-content {
    /* sacrifice positional accuracy for visual comfort */
    margin-top: .125in;
  }
}
